*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

a{
    text-decoration: none;
}

/* Inicio da Pagino */
:root{
    --cor-principal: #FFFEFE;
    --cor-secundaria: #0B0B0B;
    --cor-terciaria: #F4F3F3;
    }

body{
    /* padding-top: 258px; */
}

/* cabeçalho */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: transparent;
    background-color: var(--cor-principal);
}

#container-redes-sociais{
    height: 39px;
    width: 100%;
    border-bottom: 1px solid #E4E0E0;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: flex-end;
}

#container-redes-sociais > img{
    margin-right: 20px;
}

#container-pesquisa-logo{
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    height: 80px;
    width: 266px;
    background: url(../img/LOGO.png) no-repeat center center;
    background-size: cover;
    margin-left: 100px;
}

#container-login-favorito{
    width: 268px;
    height: 56.88px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* MENU */

nav{
    height: 58px;
    width: 100%;
    background-color: var(--cor-secundaria);
    padding: 0 80px 0 80px ;
    /* position: fixed;
    top:28.80%;
    right: 0;
    z-index: 1000; */
}


/* fim da area do cabeçalho */

/* area login */
body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-area-login{
    width: 956px;
    height: 673px;
    flex-shrink: 0;
    margin: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* justify-content: center; */
    background: var(--cor-principal);
    box-shadow: -20px 22px 4px 0px rgba(133, 133, 133, 0.25);
}

h1{
    color: var(--cor-secundaria);
    font-family: 'Inter';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.linha{
    width: 110px;
    height: 4px; 
    flex-shrink: 0;
    stroke-width: 4px;
    background-color: var(--cor-secundaria);
    margin-top: 15px;
    margin-bottom: 30px;
}

.txt-login{
    color: var(--cor-secundaria);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
    width: 800px;
    margin-bottom: 80px;

}

.container-icone{
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.container-icone > img{
    height: 22.5px;
    width: 22px;
    margin-right: -30px; 
    z-index: 10; 
    margin-bottom: 5px;
    
}

.container-input-duvida{
    height: 30px;
    width: 418px;
    border: 0;
    border-bottom: 2px solid #CCC;
    color: var(--cor-secundaria);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    outline: 0;
    
}

#btn-login{
    width: 162px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #696565;
    background: #FFF;
    text-align: center;
    padding: 9px;
    margin-top: 20px;
    margin-left: 300px;
}

.txt-senha{
    margin-left: 300px;
    margin-top: 20px;
}

#btn-login:hover{
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 3px solid var(--cor-principal);
}
.txt-senha:hover{
    cursor: pointer;
    border-bottom: solid 2px var(--cor-secundaria);
}

@media only screen and (max-width:800px) {
    .txt-login{
        width: 350px;
        font-size: 18px;
    }
    #btn-login{
        margin-right: 30px;
    }

    .txt-senha{
        margin-right: 30px;
    }
}