*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

a{
    text-decoration: none;
}

/* Inicio da Pagino */
:root{
    --cor-principal: #FFFEFE;
    --cor-secundaria: #0B0B0B;
    --cor-terciaria: #F4F3F3;
    }

body{
    /* padding-top: 258px; */
}

/* cabeçalho */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: transparent;
    background-color: var(--cor-principal);
}

#container-redes-sociais{
    height: 39px;
    width: 100%;
    border-bottom: 1px solid #E4E0E0;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: flex-end;
}

#container-redes-sociais > img{
    margin-right: 20px;
}

#container-pesquisa-logo{
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    height: 80px;
    width: 266px;
    background: url(../img/LOGO.png) no-repeat center center;
    background-size: cover;
    margin-left: 100px;
}

@media only screen and (max-width:800px) {
    .pesquisa{
        width: 250px;
        margin-left: 40px;
    }
}

#container-login-favorito{
    width: 268px;
    height: 56.88px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* MENU */

nav{
    height: 58px;
    width: 100%;
    background-color: var(--cor-secundaria);
    padding: 0 80px 0 80px ;
    /* position: fixed;
    top:28.80%;
    right: 0;
    z-index: 1000; */
}

nav > ul{
    display: flex;
    justify-content: space-around;
}

nav > ul > li{
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 58px;
    padding: 20px;
}

nav > ul > li> a{
    color: #FFF2F2;
}

nav > ul > li:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--cor-principal);
    text-shadow: 0.1em 0.1em 0.2em rgb(198, 197, 197)
}

/* fim da area do cabeçalho */

/* conteudo historia */
#container-historia{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1{
    color: var(--cor-secundaria);
    font-family: 'Inter';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.linha{
    width: 185.368px;
    height: 4px; 
    flex-shrink: 0;
    stroke-width: 4px;
    background-color: var(--cor-secundaria);
    margin-top: 15px;
    margin-bottom: 30px;
}

.txt{
    width: 90%;
    text-align: justify; 
    margin-bottom: 25px;
    margin-top: 25px;
}

#container-img-pose{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -30px;
}

#container-img-pose > p{
    width: 70%;
    
}

#container-img-pose > img{
    height: 290px;
}

/* fim conteudo historia */

/* rodapé */
footer{
    width: 100%;
    height: 464px;
    justify-content: space-around;
    background-color: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 44px 20px 44px;
    /* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
}

#container-formas-pagamento{
    height: 400px;
    width: 400px;
    padding: 20px;
    /* border: 1px solid #fff; */
}

.container-metodo-pagamento{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txt-pagamento {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:21px;
    margin-bottom: 10px;
}

h3{
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#container-ajuda{
    height: 400px;
    width: 508px;
    padding: 20px;
}

#txt-duvida{
    text-align: end;
}

.container-icone{
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 25px;
}

.container-icone > img{
    height: 22.5px;
    width: 22px;
    margin-right: -30px; 
    z-index: 10; 
    margin-bottom: 5px;
    
}

.container-input-duvida{
    height: 30px;
    width: 418px;
    background-color: #111;
    border: 0;
    border-bottom: 2px solid #CCC;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 40px;
    outline: 0;
    
}

textarea{
    height: 123px;
    resize: none;
    background-color: #111;
    border: 2px solid #CCC;
    border-radius: 7px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 10px 10px 40px;
    outline: 0;
    margin-left: -5px;
    margin-right: 10px;

}

#btn-enviar{
    background-color: #111;
    border: 2px solid #CCC;
    align-items: center;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 350px;
    border-radius: 7px ;
}

#btn-enviar:hover, #carrinho:hover{
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.2em rgb(198, 197, 197);
}

@media only screen and (max-width:800px) {
    footer{
        flex-direction: column;
        height: auto;
    }
    #container-img-pose{
        flex-direction: column;
    }
    #container-img-pose > p{
        width: 90%;
        margin-top: 15px;
    }
}

/* Barra do Copyright em Cinza */
.last-text{
    text-align: center;
    background-color: #555;
    color: #fff;
} 

/* fim rodapé */